---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>
{% include share-buttons.html %}

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}



<br/><br/><br/><br/>
<!-- add the button! -->
<script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_e8b43a7181ccee823728489fc4a8c7"></script>

<div 
  data-lyket-type="like" 
  data-lyket-id="{{ page.url | absolute_url }}" 
  data-lyket-namespace="namespace">
</div>
